@font-face {
  font-family: "text";
  src: url("/fonts/Apercu Medium.otf");
}

@font-face {
  font-family: "bold-label";
  src: url("/fonts/futura medium bt.ttf");
}

@font-face {
  font-family: "heavy-label";
  src: url("/fonts/futura extra black font.ttf");
}

* {
  margin: 0;
  padding: 0;
  text-decoration:none;
  font-family: text;
  transition: all .35s ease;
}

header {
  margin-bottom: 25pt;
  font-size: 2rem;
  font-family: bold-label;
  text-transform: capitalize;
}

hr {
  margin-bottom: 25pt;
  margin-top: 25pt;
  border: solid thin lightgray;
}

input {
  padding: .5rem;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-family: monospace;
}

label {
  font-family: monospace;
}

label.bold {
  font-family: "bold-label";
}

nav {
  box-shadow: 0 0 10pt black;
}

nav > a {
  font-family: "bold-label";
  color: tan;
  padding: 10pt;
}

nav > a.active {
  font-family: bold-label;
  color: white;
  background-color: darkslategray;
  padding: 10pt;
}

nav > a.active.brand {
  font-family: "heavy-label";
  background-color: #333;
  color: tan;
}

nav > a.active.brand:hover {
  background-color: teal;
}

nav > a:hover {
  background-color: teal;
}

nav > a.active:hover {
  background-color: darkslategray
}

p {
  margin-bottom: .5rem;
  /* text-align:justify; */
  font-family: 'Courier New', Courier, monospace;
}

.align-center {
  align-items: center;
}

.block {
  display: block
}

.bg-dark {
  background-color:#333;
  color: white;
}

.bg-light {
  background-color:#f0f0f0;
  color: black;
}

.capitalized {
  text-transform: capitalize;
}

.cell {
  display:inline-block;
  width:40px;
  height:40px;
  border: solid thin lightgray;
  border-radius: 6pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  display:flex;
  flex-direction:column;
}

.error {
  color: red;
}

.full-view {
  height: 100vh;
  width: 100vw;;
}

.btn {
  padding: 5pt 10pt;
  background-color: lightgray;
  font-family: text;
  color: black;
  font-size: 1rem;
  border-radius: 6pt;
  box-shadow: 
    0 1px 2px #fff, /*bottom external highlight*/
    0 -1px 1px #666, /*top external shadow*/ 
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

.btn:hover {
  background-color: white;
}

.grow {
  flex-grow:1;
}

.h-v-75 {
  height: 75vh;
}

.inline-block {
  display:inline-block
}

.inline-column {
  display:inline-flex;
  flex-direction:column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.m-auto {
  margin: auto;
}

.mb-2 {
  margin-bottom: 2pt;
}

.mb-10 {
  margin-bottom: 10pt;
}

.mb-20 {
  margin-bottom: 20pt;
}

.ml-5 {
  margin-left: 5pt;
}

.mr-5 {
  margin-right:5pt;
}

.mr-10 {
  margin-right: 10pt;
}

.mr-20 {
  margin-right: 20pt;
}

.mt-5 {
  margin-top:5pt;
}

.mt-10 {
  margin-top:10pt;
}

.mt-20 {
  margin-top:20pt;
}

.mx-1 {
  margin-right: 1pt;
  margin-left: 1pt;
}

.no-grow {
  flex-grow: 0.1;
}

.pa-20 {
  padding: 20pt;
}


.pt-20 {
  padding-top: 20pt;
}

.px-10 {
  padding-right: 10pt;
  padding-left: 10pt;
}

.py-10 {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.rounded-6 {
  border-radius: 6pt;
}

.row {
  display: flex;
  flex-direction: row;
}

.sample {
  border: solid thick lightgray;
  padding: 12pt;
  border-radius: 6pt;
}

.shadow {
  box-shadow: 0 0 10pt black;
}

.stretch {
  align-items: stretch;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.w-35 {
  width: 35pt;
}

.w-min-400 {
  max-width: 400pt;
}
