<div class="column align-center stretch pt-20">
  <div class="row align-center">
    <div class="grow" width="100%">
      <hr>
    </div>
    <div class="px-10">Source code</div>
    <div class="grow" width="100%">
      <hr>
    </div>
  </div>
  <div class="row justify-center mt-5">
    <a class="btn capitalized mr-5"
      href={{@ember}}
      target="_blank"
    >ember</a>
    <a class="btn capitalized ml-5"
      href={{@ruby}}
      target="_blank"
    >ruby</a>
  </div>
</div>