<div class="row">
  <div class="column mr-5 grow">
    <label class="mb-2 capitalized">input string</label>
    <Input @value={{this.input}} />
  </div>
  <div class="column">
    <label class="mb-2">K</label>
    <Input @value={{this.k}} @type="number" min="0" max="100"/>
  </div>
  {{#if this.error}}
    <div class="error">K can not be negative</div>
  {{/if}}
</div>

<div class="column grow mt-10">
  <label class="mb-2 capitalized">encrypted string</label>
  <Input @value={{ this.solution }} disabled=true />
</div>
