<div class="row justify-center">
  <div class="inline-column mb-20">
    <label class="bold mb-2">n</label>
    <Input @value={{ this.n }} @type="number" min="1" class="w-35"/>
  </div>
</div>

{{#if this.error}}
  <div class="error">
    Array size should be greater than 0.
  </div>
{{/if}}

<div class="text-center mb-10">
  {{#each this.solution as |item|}}
    <span>{{ item }} </span>
  {{/each}}  
</div>

<div class="text-center">
  <div class="inline-block sample m-auto">
    {{#each this.array as |array|}}
      <div class="row mb-2">
        {{#each array as |item|}}
          <div class="cell mx-1"><span>{{ item }}</span></div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
