<div class="column">
  <label class="mb-2 capitalized">word</label>
  <Input @value={{ this.word }} />
</div>
<div class="mt-5 capitalized">
  <label>rank</label>
  <br>
  <Input @value={{ this.solution }} disabled=true />
</div>
<div class="mt-10">
  <label>Performed in <span>{{ this.elapsedTime }}</span>ms</label>
</div>
