<div class="text-center">
  <div>
    <label class="label bold mr-10">A</label>
    <Input @value={{ this.A }} class="text-right"/>
  </div>
  <div>
    <label class="label bold mr-10">B</label>
    <Input @value={{ this.B }} class="text-right"/>
  </div>
  {{#if this.error}}
    <div class="error mt-5 mb-20">
      Only numbers are allowed
    </div>
  {{/if}}
  <div class="mt-5">
    <label class="label bold mr-10">+</label>
    <Input @value={{ this.solution }} class="text-right" disabled=true />
  </div>
</div>
