<header>task 1</header>

<section>
  <p>Given the string representations of two integers, return the string representation of the sum of those integers. It is ​not allowed​ to just do integer1 + integer2. Hint: Think about how you learned this in primary school.</p>
  <div class="sample mb-10 mt-10">
    <p>Sample</p>
    <p>sumStrings('9123','879123') // => '888246'</p>
    <p>A string representation of an integer will contain no characters besides the ten numerals "0" to "9".</p>
  </div>
</section>

<hr>

<section>
  <Task-1 />
</section>

<SourceCode
  @ember="https://gitlab.com/mehran_naghizadeh/intuotasks/blob/master/app/components/task-1.js"
  @ruby="https://gitlab.com/mehran_naghizadeh/intuotasks-ruby/blob/master/task-1.rb"
/>
