<header>task 2</header>

<section>
  <p>Given an n x n array, return the array elements arranged from outermost elements to the middle element, traveling clockwise.</p>
  <div class="sample mb-10 mt-10">
    <p>Sample</p>
    <p>array = [[1,2,3], [4,5,6], [7,8,9]]<br>
    traverse(array) #=> [1,2,3,6,9,8,7,4,5]</p>
  </div>
</section>

<hr>

<section>
  <Task-2 />
</section>

<SourceCode
  @ember="https://gitlab.com/mehran_naghizadeh/intuotasks/blob/master/app/components/task-2.js"
  @ruby="https://gitlab.com/mehran_naghizadeh/intuotasks-ruby/blob/master/task-2.rb"
/>
