<header>task 3</header>

<section>
  <p>Julius Caesar protected his confidential information from his enemies by encrypting it. Caesar rotated every letter in the string by a fixed number K.</p>
  <div class="sample mb-10 mt-10">
    <p>Sample</p>
    <p>If the string is middle-Outz and K = 2, then the encoded string will be okffng-Qwvb.</p>
  </div>
  <p>Please note that only letters are encrypted.</p>
</section>

<hr>

<Task-3 />

<SourceCode
  @ember="https://gitlab.com/mehran_naghizadeh/intuotasks/blob/master/app/components/task-3.js"
  @ruby="https://gitlab.com/mehran_naghizadeh/intuotasks-ruby/blob/master/task-3.rb"
/>
