<header>task 4</header>

<section>
  <p>For any word with at least two different letters, there are other words composed of the same letters but in a different order.</p>
  <p>We can then assign a number to every word, based on where it falls in an alphabetically sorted list of all words made up of the same group of letters. One way to do this would be to generate the entire list of words and find the desired one, but this would be slow if the word is long.</p>
  <p>Given a word, return its number. Your function should be able to accept any word 25 letters or less in length (possibly with some letters repeated), and take no more than 500 milliseconds to run.</p>
</section>

<hr>

<section>
  <Task-4 />
</section>

<SourceCode
  @ember="https://gitlab.com/mehran_naghizadeh/intuotasks/blob/master/app/components/task-4.js"
  @ruby="https://gitlab.com/mehran_naghizadeh/intuotasks-ruby/blob/master/task-4.rb"
/>
