<h3 class="mb-20">Welcome to my Intuo Challenge</h3>

<p>In this challenge, I have solved 4 tasks. The solutions are implemented in Ember.js 3.15.1 with Octane. The tasks are focused mainly on the algorithmic thinking. Therefore, I have kept the stylings rather simple.</p>
