<nav class="bg-dark pa-20 mb-20">
  <LinkTo @route="tasks" class="mr-20 brand">Tasks</LinkTo>
  <LinkTo @route="tasks.1">Task 1</LinkTo>
  <LinkTo @route="tasks.2">Task 2</LinkTo>
  <LinkTo @route="tasks.3">Task 3</LinkTo>
  <LinkTo @route="tasks.4">Task 4</LinkTo>
</nav>

<div class="block bg-light w-min-400 pa-20 m-auto shadow rounded-6 h-v-75 overflow-hidden overflow-y-auto relative">
  {{outlet}}
</div>